* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  text-align: center;
  margin-top: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-align: center;
  padding-bottom: 15px;
}

h3 {
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 0.9rem;
}

.intro {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.7rem;
  margin-bottom: 40px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
}

.box {
  /* display: inline-block; */
  padding: 25px;
  margin: 20px;
  border-radius: 6px;
  max-width: 370px;
  box-shadow: 1px 15px 25px 0px hsl(229, 6%, 66%);
  justify-self: right;
  align-self: center;
}

#cyan {
  border-top: 4px hsl(180, 62%, 55%) solid;
  order: 1;
  transform: translateY(145px);
}

#red {
  border-top: 4px hsl(0, 78%, 62%) solid;
  order: 2;
}

#orange {
  border-top: 4px hsl(34, 97%, 64%) solid;
  order: 4;
}

#blue {
  border-top: 4px hsl(212, 86%, 64%) solid;
  order: 3;
  transform: translateY(145px);
}

img.product-icon {
  float: right;
  padding-top: 50px;
  padding-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  .boxes {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  #blue {
    transform: translateY(0px);
  }

  #cyan {
    transform: translateY(0px);
  }
}

@media (max-width: 1440px) {
  .boxes {
    margin-left: 0px;
    margin-right: 0px;
  }
}